@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('~assets/fonts/CrimsonPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

