// RADIO

input[type='radio'] + label span {
  @apply transition duration-200 bg-white;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
}

input[type='radio']:checked + label span {
  @apply rounded-full bg-indigo-600 border-3 border-gray-100;
}

input[type='radio']:checked + label {
  @apply transition duration-200 bg-indigo-600 text-white;
}

// CHECKBOX

.label {
  padding-left: 35px;

  @apply block relative cursor-pointer flex items-center;
}

/* Hide the browser's default radio button */
.label input {
  @apply absolute cursor-pointer opacity-0;
}

/* Create a custom radio button */
.checkmark {
  border-width: 3px;

  @apply absolute left-0 border-gray-100 bg-white rounded-sm w-8 h-8 transition-transform duration-200 transform;
}

.checkmark:hover {
  @apply scale-105 border-green-200;
}

/* On mouse-over, add a gray background color */
.label:hover input ~ .checkmark {
}

/* When the radio button is checked, add a blue background */
.label input:checked ~ .checkmark {
  @apply border-green-200;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  @apply hidden;
}

/* Show the indicator (dot/circle) when checked */
.label input:checked ~ .checkmark:after {
  @apply block;
}

/* Style the indicator (dot/circle) */
.label .checkmark:after {
  content: url('/img/tick.svg');
  margin-top: 3px;
  margin-left: 6px;
}
